@font-face {
    font-family: 'LioReg';
    src: url('https://assets.website-files.com/6603dc3d48076e08e9ab0173/6603e6badacf57ccfac73dfb_MagilioRegular-Yzv2O.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rey';
    src: url('https://assets.website-files.com/6603dc3d48076e08e9ab0173/6603ea0bdc96fbfd0ffee389_Reey-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --body-font: LioReg, sans-serif;
    --title-font: Rey, sans-serif;
    --clr-primary: #00BC91;
    --clr-secondary: #878788;
    --clr-white: #FFF;
    --clr-black: #222;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    letter-spacing: 0.1rem;
    list-style-type: none;
    text-decoration: none;
}

html {
    background-color: #18191A;
    scroll-behavior: smooth;
    font-size: 62.5%;
}

@media screen and (max-width: 768px) {
    html {
        font-size: 55.5%;
    }
}

@media screen and (max-width: 600px) {
    html {
        font-size: 48.5%;
    }
}

body {
    color: var(--clr-secondary);
    background-color: #212223;
    font-family: var(--body-font);
    width: 120rem;
    max-width: 100%;
    margin: auto;
}

.text-center {
    text-align: center;
}

.section-center {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5rem 1rem;
    min-height: 90vh;
}

.section-title {
    color: var(--clr-white);
    font-family: var(--title-font);
    font-size: 5rem;
    text-align: center;
    margin-bottom: 20px;
}

.btn {
    background-color: var(--clr-primary);
    cursor: pointer;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 14px 0;
    border: none;
    border-radius: 8px;
    box-shadow: 2px 2px 2px var(--clr-black);
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background-color: var(--clr-black);
    color: var(--clr-white);
}

/* ========== */



/* Header Section */

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.logo {
    color: var(--clr-primary);
    font-size: 2.5rem;
    text-transform: uppercase;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-link {
    color: var(--clr-primary);
    font-size: 1.75rem;
    transition: 0.7s ease;
}

.nav-link:hover {
    color: var(--clr-white);
}

.hamburger {
    cursor: pointer;
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 2px;
    border-radius: 3px;
    margin: 4px auto;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    background-color: var(--clr-primary);
}

@media screen and (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        flex-direction: column;
        background-color: var(--clr-black);
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}

/* Header Section */



/* Home Section */

#home-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 1rem;
    min-height: 90vh;
}

#home-section article {
    flex-basis: 50%;
    margin: 16px;
}

#home-section aside {
    flex-basis: 50%;
    text-align: center;
}

.home-title {
    color: var(--clr-primary);
    font-size: 4rem;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.home-post {
    color: var(--clr-white);
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.home-desc {
    font-size: 1.8rem;
}

.home-img {
    width: 50rem;
    height: 50rem;
    border: 6px solid var(--clr-primary);
}

@media screen and (max-width: 992px) {
    #home-section {
        flex-direction: column;
    }

    #home-section article {
        width: 60%;
        text-align: center;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 768px) {
    #home-section article {
        width: 80%;
    }
}

@media screen and (max-width: 600px) {
    #home-section {
        min-height: auto;
    }

    #home-section article {
        width: 90%;
    }

    .home-img {
        max-width: 100%;
    }
}

/* Home Section */



/* About Section */

.card-container {
    display: flex;
    align-items: center;
}

.card {
    color: var(--clr-white);
    background-color: var(--clr-secondary);
    flex: 1;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    padding: 40px 15px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.1);
}

.card-title {
    font-size: 3rem;
    margin-bottom: 24px;
}

.card-desc {
    font-size: 1.6rem;
    padding: 10px 5px;
    margin-bottom: 50px;
}

.card-btn {
    align-self: center;
    width: 80%;
}

@media screen and (max-width: 992px) {
    .card-container {
        width: 50%;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 600px) {
    #about-section {
        min-height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-container {
        width: 90%;
    }
}

/* About Section */



/* Archives Section */

.archives-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.archives-list {
    display: flex;
    text-align: center;
}

.archives-item {
    margin: 20px;
}

.archives-img {
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.archives-img:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {
    #archives {
        min-height: auto;
    }
}

@media screen and (max-width: 600px) {
    .archives-list {
        flex-wrap: wrap;
    }
}

/* Archives Section */



/* Blog Posts */

.blog-posts-title {
    margin-bottom: 5rem;
}

.blog-post {
    cursor: pointer;
    width: 70%;
    display: flex;
    margin: 14px 0;
    box-shadow: 0 0 3px var(--clr-secondary);
    transition: all 0.3s ease-in-out;
}

.blog-post:hover {
    transform: scale(1.1);
}

.blog-post-aside {
    flex: 1;
}

.blog-post-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-content {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 14px;
    margin-left: 22px;
}

.blog-heading {
    font-size: 2.5rem;
    margin-bottom: 16px;
}

.blog-sub-heading {
    font-size: 2rem;
    margin-bottom: 14px;
}

.blog-desc {
    font-size: 1.6rem;
    text-align: justify;
    margin-bottom: 14px;
}

.blog-btn {
    width: 40%;
    transition: all 0.3s ease-in-out;
}

.blog-btn:hover {
    color: var(--clr-black);
    background-color: var(--clr-white);
}

@media screen and (max-width: 768px) {
    .blog-post {
        width: 80%;
        flex-direction: column;
        margin-bottom: 38px;
    }
}

@media screen and (max-width: 600px) {
    .blog-post {
        width: 90%;
    }
}

/* Blog Posts */



/* Contact Section */

#contact-section {
    min-height: 90vh;
}

#contact-form {
    padding: 20px;
    margin: 15px;
    color: var(--clr-white);
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    box-shadow: 0 0 3px var(--clr-secondary);
}

.form-control {
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control label {
    font-size: 1.6rem;
    flex: 0.3;
}

input,
textarea {
    flex: 0.7;
    width: 40rem;
    font-size: 1.6rem;
    padding: 20px 14px;
    border: none;
    border-radius: 8px;
}

textarea {
    resize: none;
    height: 12vh;
}

.form-btn {
    display: flex;
    justify-content: flex-end;
}

.contact-btn {
    width: 30%;
}

@media screen and (max-width: 768px) {
    #contact-section {
        min-height: auto;
    }
}

@media screen and (max-width: 600px) {
    #contact-form {
        width: 90%;
    }

    .form-control {
        flex-direction: column;
    }

    .form-control label {
        margin-bottom: 8px;
    }

    input,
    textarea {
        max-width: 100%;
    }
}

/* Contact Section */



/* Footer Section */

footer {
    padding: 18px 24px;
    min-height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright-text {
    font-size: 1.5rem;
    color: var(--clr-white);
}

.icon a {
    font-size: 2rem;
    color: var(--clr-white);
    margin-left: 16px;
}

.icon a:hover {
    color: var(--clr-primary);
}

@media screen and (max-width: 600px) {
    footer {
        flex-direction: column;
    }

    .copyright-text {
        margin-bottom: 14px;
    }
}

/* Footer Section */